.App{
    height: 100vh;
    width: auto;
    background: #fde9ea;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2%;
    opacity: 0.8;
  }
  
  h2{
    color: #330000;
  }
  
  p{
    font-size: 30px;
    color: orangered;
    font-weight: bolder;
  }
  
  button{
    display: flex;
    height: auto;
    padding: 4%;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    font-weight: bold;
  }
  
  button:hover{
    opacity: 0.8;
  }
  
  button:active{
    opacity: 1;
  }
  
  .infoBtn{
    background-color: cadetblue;
  }
  
  .warningBtn{
    background-color: orangered;
  }
  